body {
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: 'Montserrat'
    , sans-serif;
  line-height: 1.6;
  padding: 20px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  list-style: none;
  display:flex;
  
}
.right{
  justify-content:space-between;
  display: inline;
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 10px 0;
}
nav ul li {
  display: inline;
  margin: 0 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
section{
    margin:40px,0;

}
.project {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
} */