*{
  margin:0;
  padding:0;
}
body{
  background-color: rgb(16, 16, 60);
  color:white;

}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:85px;
  background-color: rgb(10, 10, 91);
}
nav ul{
  display:flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin:0 23px;
  font-size: 20px;
  

}
.right a{
 text-decoration: none;
 color:white;
}
.right ul a:hover{
  color:rgb(75, 75, 170);
  font-size: 1.75rem;
}
.left{
  font-size:2rem;
}

.firstSection{
  display:flex;
  justify-content: space-around;
  margin-top:80px;
}
.firstSection > div{
  width:30%;
}
.leftSection{
  /* background-color: red; */
  font-size: 3rem;
  margin-top:70px;
}
.rightSection img{
  height:100%;
  width:150%;
  margin:50px,0;
}
.color{
  color:rgb(129, 16, 234);
}
#element{
  color:rgb(129, 16, 234);
}

/* .right a{
  color:rgba(219, 219, 223, 0.895);
  text-decoration: none;
  font-size: 20px;
  position:relative;
  transition:0.5s;
}
.right a:hover{
  color:#0ef;

} */

